body {
  height: 100vh;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(4, 4, 103, 1) 15%,
    rgba(0, 212, 255, 1) 100%
  );
  font-family: "Krona One", sans-serif;
}
h1 {
  padding: 3vh;
  color: antiquewhite;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 2em;
}

.selections {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 3vh;
}

.selection {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 8em;
  transition: 1000ms;
}

.selection:hover {
  transform: scale(1.2);
}

.results {
  font-size: 2em;
  color: antiquewhite;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}
.result-score {
  color: whitesmoke;
}

.result-selection {
  opacity: 0.5;
  font-size: 2.5em;
}

.result-selection.winner {
  opacity: 1;
  font-size: 3em;
}

.change-game {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
