body {
  height: 100vh;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(4, 4, 103, 1) 15%,
    rgba(0, 212, 255, 1) 100%
  );
  font-family: "Krona One", sans-serif;
}

h1 {
  font-size: 4vh;
  color: antiquewhite;
  padding: 3vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.container button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 150px;
  height: 50px;
  background: none;
  border: none;
  color: rgb(11, 69, 155);
  font-size: 20px;
  font-family: "Krona One", sans-serif;
  background-color: rgb(129, 188, 236);
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  padding: 2vh;
  transition: 100ms;
}

.container {
  display: flex;
  justify-content: space-around;
  padding: 5vh;
}

.linkedGame:hover {
  transform: scale(1.2);
}

.selections {
  display: flex;
  justify-content: center;
}

.selection {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 5em;
  transition: 200ms;
}

.selection:hover {
  transform: scale(1.2);
}

.results {
  margin-top: 1rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  font-size: 3em;
  color: antiquewhite;
}

.result-score {
  margin-left: 0.1rem;
  font-size: 2em;
  color: whitesmoke;
}

.result-selection {
  opacity: 0.5;
}

.result-selection.winner {
  opacity: 1;
}

.next {
  position: absolute;
}
